
.home-page-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    .block-left {
        width: 300px;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-right: 20px;
        margin-top: 20px;
        padding: 10px 0px 0px 0px;
        background-color: #fff;
        border-radius: 4px;
        min-height: 1500px;
        .filter-header {
            margin: 0;
            margin-bottom: 20px;
            color: #FF6A00;
            font-weight: 600;
            font-family: monospace !important;
            font-size: 23px;
        }
    }
    .block-right {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        width: calc(100% - 300px);
        height: auto;
        padding: 10px 20px 20px 0;
        background-color: #fff;
        border-radius: 4px;
        min-height: 1500px;
        .empty-product {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 100px;
            h2 {
                color: #292929;
            }
            img {
                width: 200px;
                height: 200px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .home-page-container {
        width: 95%;
    }
}

.product-company-container {
    display: flex;
    flex-direction: column;
    .company-info {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 78%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    @media only screen and (max-width: 1600px) {
        .company-info {
            width: 92%;
        }
    }
}

.select-perpage {
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 10px
    }
}

.search-product-name {
    .MuiFormLabel-root {
        font-size: 18px;
        font-weight: 600;
        color: rgb(62, 80, 96);
    }
    .hidden-label {
        label{
            display: none;
        }
    }
}